COMPOSE_PROFILES=zeppelin_0_12_1,jupyter_spark_3_5,jupyter_spark_4_1,jupyter_spark_4_2,jupyter_spark_glue_5,localstack,kafka,postgres,s3,trino
KAFKA_TLS_STORE_PASSWORD=changeit

TRAEFIK_HTTP_PORT=8080

POSTGRES_PORT=5432
# Use a specific host IP to expose PostgreSQL on only one network interface.
POSTGRES_BIND_ADDRESS=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Public key allowed to connect to the ssh-tunnel service.
SSH_TUNNEL_PUBLIC_KEY="ssh-ed25519 AAAA... user@host"

GITHUB_TOKEN=xxx

LOCALSTACK_AUTH_TOKEN="xxx"

AWS_ACCESS_KEY_ID="xxx"
AWS_SECRET_ACCESS_KEY="xxx"
AWS_SESSION_TOKEN="xxx"
AWS_REGION="xxx"
