GITHUB_TOKEN=xxx

COMPOSE_PROFILES=zeppelin_0_12_1,jupyter_spark_3_5,localstack

TRAEFIK_HTTP_PORT=8080

JUPYTER_SPARK_3_5_PORT=6660
JUPYTER_SPARK_4_1_PORT=6661
ZEPPELIN_PORT=6662
JUPYTER_GLUE_5_PORT=6663

LOCALSTACK_AUTH_TOKEN="xxx"

AWS_ACCESS_KEY_ID="xxx"
AWS_SECRET_ACCESS_KEY="xxx"
AWS_SESSION_TOKEN="xxx"
AWS_REGION="xxx"
