COMPOSE_PROFILES=zeppelin_0_12_1,jupyter_spark_3_5,jupyter_spark_4_1,jupyter_spark_glue_5localstack,kafka,s3

TRAEFIK_HTTP_PORT=8080

GITHUB_TOKEN=xxx

LOCALSTACK_AUTH_TOKEN="xxx"

AWS_ACCESS_KEY_ID="xxx"
AWS_SECRET_ACCESS_KEY="xxx"
AWS_SESSION_TOKEN="xxx"
AWS_REGION="xxx"
